.banner-contact {
    background-color: #20783C;
    background-image: url('../assets/connect2.png');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 3%;
    justify-content: center;
}

.banner-h1 {
    text-align: center;
    padding: 2%;
    width: 25%;
    color: white;
    font-size: 1.8em;
    line-height: 2em;
    border-right: .2em solid white;
}

.banner-p {
    font-size: 1.2em;
    padding: 2%;
    width: 60%;
    color: white;
    line-height: 2em;
}


.contact-card{
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 3%;
    padding-top: 2%;
    padding-left: 10%;
    margin: 2%;
    margin-left: 8%;
    box-shadow: 2px 2px 12px rgb(202, 201, 201);
    line-height: 1.7em;
}

.actual-contact {
    width: 100%;
    display: flex;
    justify-self: center;
}

.actual-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.contact-label {
    width: 100%;
}
.contact-input {
    margin-top: 3%;
    width: 70%;
}

.submit-btn {
    margin-top: 3%;
    width: 71%;
    justify-self: center;
}
.right-contact{
    display: flex;
    justify-content: center;
    width: 50%;
}

.maps {
    width:60%;
    background: url('../assets/maps.png') center;
    background-size: cover;
    margin: 10%;
    margin-top: 5%;
    margin-left: 0%;
    box-shadow: 35px 35px 0px #20783C;
}