.intro-header {
  background: url("../assets/auditorium.png") no-repeat center/100%;
  height: 87vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0%;
  padding: 0%;
}

.header-white {
  position: center;
  text-align: center;
  margin-left: 15%;
  background: white;
  width: 24%;
  padding: 1.5%;
  padding-top: .2%;
  padding-bottom: 3%;
}

.inspire {
  font-size: 7vw;
  line-height: .3em;
}

.change {
  font-size: 2.65vw;
  line-height: .3em;
  color: #20783C;
}

.header-p {
  text-align: left;
  -ms-grid-column-align: center;
      justify-self: center;
  position: center;
  padding-left: 6%;
  width: 88.5%;
  color: #20783C;
  font-size: 1.2vw;
  line-height: 1.5em;
  padding-bottom: .5%;
}

.header-btn {
  color: white;
  text-decoration: none;
  width: 88.5%;
  font-weight: 700;
  font-size: 1em;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.header-btn:hover {
  background-color: #1b8f3f;
}

.intro-three-choice {
  margin: 0%;
  padding: 0%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F3F3F3), to(white));
  background-image: linear-gradient(#F3F3F3, white);
}

.intro-resilient-div {
  padding-top: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro-resilient-p {
  margin-left: 4%;
  width: 53%;
  line-height: 1.8em;
  font-size: 1.2em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.intro-resilient-header {
  margin: 0%;
  width: 27.5%;
  margin-left: 3%;
  padding-top: 2%;
  padding-bottom: 1%;
  background-image: none;
  font-weight: 500;
  font-size: 2.3em;
  text-align: right;
}

.three-choice {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choice-div {
  padding: 3%;
  margin: 3%;
  background-color: white;
  -webkit-box-shadow: 2px 2px 12px #cac9c9;
          box-shadow: 2px 2px 12px #cac9c9;
}

.choice {
  width: 100%;
}

.choice-p {
  line-height: 1.6em;
}

.choice-btn {
  font-size: 1.05em;
  width: 100%;
  padding: 4%;
  padding-left: 7%;
  padding-right: 7%;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.choice-btn:hover {
  background-color: #1b8f3f;
}

.mission-banner {
  background-color: #20783C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mission-h1 {
  padding: 2%;
  width: 25%;
  color: white;
  font-size: 1.8em;
  line-height: 2em;
  border-right: .2em solid white;
}

.mission-p {
  font-size: 1.2em;
  padding: 2%;
  width: 60%;
  color: white;
  line-height: 2em;
}

.blog-explanation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.blog-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  padding: 4%;
  margin: 2%;
  margin-left: 5%;
  margin-right: 5%;
  -webkit-box-shadow: 2px 2px 12px #cac9c9;
          box-shadow: 2px 2px 12px #cac9c9;
  line-height: 1.7em;
}

.blog-text-info {
  width: 60%;
  margin-left: 3%;
}

.blog-btn {
  width: 100%;
  cursor: pointer;
}

.blog-image {
  background-image: url("../assets/grow.jpg");
  background-size: cover;
  width: 50%;
}
/*# sourceMappingURL=intro.css.map */